h1 {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  color: #bdbdbd;
  margin-top: 30px;
  padding-bottom: 8px;
  border-bottom: 1px solid #ebe6e2;
  text-shadow: 0 2px 0 rgba(255, 255, 255, 0.8);
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
}

form {
  max-width: 900px;
  text-align: center;
  padding: 40px;
  margin: 60px auto;
  background: #fffaf6;
  border-radius: 5px;
  color: #7e7975;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2), 0 1px 5px rgba(0, 0, 0, 0.2),
    0 0 0 12px rgba(255, 255, 255, 0.4);
  input {
    border-color: #7e7975;
  }
  input,
  textarea {
    border-radius: 7px;
    border-color: #a8a8a8;
    padding: 1em;
    display: block;
    width: 100%;
    margin-top: 1em;
    font-family: "Merriweather", sans-serif;
    resize: none;
  }

  #input-submit {
    border: none;
    cursor: pointer;
    font-weight: bold;
    font-size: 24px;
    color: white;
    background-color: #ccd5ae; 
    text-align: center;
  }

  textarea {
    height: 210px;
  }
}

.half {
  float: left;
  width: 40%;
  margin-bottom: 1em;
}

.right {
  width: 50%;
}

.left {
  margin-right: 7%;
}


img{
  width: 20%;
  height: 20vh;
}
@media (max-width: 480px) {
  .half {
    width: 100%;
    float: none;
    margin-bottom: 0;
  }
}
