<h1>Add New Coffe</h1>
<form class="cf" (ngSubmit)="addProduct(form.value)" #form="ngForm">
  <div class="half left cf">
    <input
      type="text"
      id="input-name"
      placeholder="Product Name"
      ngModel
      name="name"
      [(ngModel)]="data.name"
      required
    />

    <input
      type="text"
      id="input-region"
      placeholder="Product Region"
      ngModel
      name="region"
      [(ngModel)]="data.region"
      required
    />

    <input
      type="number"
      id="input-price"
      placeholder="Product Price"
      ngModel
      name="price"
      [(ngModel)]="data.price"
      required
    />
  </div>
  <div class="half right cf">
    <textarea
      name="description"
      type="text"
      id="input-description"
      placeholder="Product Description"
      ngModel
      name="description"
      [(ngModel)]="data.description"
      required
    ></textarea>
  </div>
  <div class="upload-image">
    <input
     
      accept="image/*"
      type="file"
      class="form-control"
      placeholder="Enter Image URL"
      ngModel
      name="image"
      (change)="onFileSelected($event)"
      
      [(ngModel)]="data.image"
      required
    />
  </div>
  <input
    [disabled]="!form.valid"
    type="submit"
    value="Submit"
    id="input-submit"
  />
</form>
