<nav>
  <div class="container">
    <div class="content">
      <h2 class="logo">KAVA</h2>
      <ul>
        <li routerLink="/products" routerLinkActive="active">COFFEE</li>
        <li
          style="cursor: pointer"
          *ngIf="!isLogedIn()"
          routerLink="/auth"
          routerLinkActive="active"
        >
          LOGIN
        </li>
        <li
          routerLink="/auth"
          routerLinkActive="active"
          style="cursor: pointer"
          *ngIf="isLogedIn()"
          (click)="authService.logout()"
        >
          lOGOUT
        </li>

        <li routerLink="/cart">
          <mat-icon class="cart-icon">shopping_cart</mat-icon>
        </li>
      </ul>
    </div>
  </div>
</nav>
