<div class="item">
  <mat-card class="card-body">
    <img
      class="product-image"
      src="{{ data.image }}"
      alt="product-image"
      routerLink="/details/{{ data._id }}"
    />
    <mat-card-title>
      <h3 class="product-name">{{ data.name }}</h3>
    </mat-card-title>

    <mat-card-actions>
      <h4 class="product-region">{{ data.region }}</h4>
      <span class="product-price">{{ data.price }}$</span>
    </mat-card-actions>
    <mat-card-actions>
      <button
        class="cart-btn"
        color="primary"
        (click)="addProductToCart(); addButton = false"
      >
        Add To Basket
      </button>
    </mat-card-actions>
  </mat-card>
</div>
