<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Google Font -->
    <link
      href="https://fonts.googleapis.com/css?family=Nunito:200,300,400,700"
      rel="stylesheet"
    />

    <title>Museum OF Candy</title>
  </head>

  <body>
    
      <section class="container-fluid px-0">
        <div class="row align-items-center">
          <div class="col-lg-6">
            <div
              id="headingGroup"
              class="text-white text-center d-none d-lg-block mt-5"
            >
              <h1 class="">MUSEUM<span>/</span>OF<span>/</span>COFFEE</h1>
              <h1 class="">MUSEUM<span>/</span>OF<span>/</span>COFFEE</h1>
              <h1 class="">MUSEUM<span>/</span>OF<span>/</span>COFFEE</h1>
              <h1 class="">MUSEUM<span>/</span>OF<span>/</span>COFFEE</h1>
              <h1 class="">MUSEUM<span>/</span>OF<span>/</span>COFFEE</h1>
              <h1 class="">MUSEUM<span>/</span>OF<span>/</span>COFFEE</h1>
              <h1 class="">MUSEUM<span>/</span>OF<span>/</span>COFFEE</h1>
            </div>
          </div>
          <div class="col-lg-6">
            <img
              class="img-fluid"
              src="../../assets/images/homePage/img1.jpg"
              alt=""
            />
          </div>
        </div>
      </section>

      <section class="container-fluid px-0">
        <div class="row align-items-center content">
          <div class="col-md-6 order-2 order-md-1">
            <img
              src="../../assets/images/homePage/img2.jpg"
              alt=""
              class="img-fluid"
            />
          </div>
          <div class="col-md-6 text-center order-1 order-md-2">
            <div class="row justify-content-center">
              <div class="col-10 col-lg-8 blurb mb-5 mb-md-0">
                <h2>MUSEUM OF CANDY</h2>
                <p class="lead">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Neque, iste molestiae beatae, maiores deserunt in voluptatibus
                  aspernatur architecto excepturi delectus soluta? Ipsa,
                  deleniti dolorem hic consequatur repellat eveniet quidem
                  voluptate necessitatibus dolorum delectus minus vitae, ut,
                  veritatis sint ipsum magnam autem nam ex deserunt debitis
                  eaque ratione! Nobis, quidem assumenda.
                </p>
              </div>
            </div>
          </div>
        </div>
      </section>
  
  </body>
</html>
